name: "Build Documentation"
on:
  push:
    branches:
      - main
  pull_request:
jobs:
  ci:
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.12"]
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    permissions:
      contents: write
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
    steps:
      - uses: actions/checkout@v4
      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true
      - name: Set up Python ${{ matrix.python-version }}
        run: uv python install ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          uv sync --extra doc
          uv pip install git+https://github.com/HaoZeke/rgpycrumbs.git
      - name: Build docs
        run: uv run sphinx-build doc/source doc/build/html
      - name: Deploy Documentation
        if: ${{ (github.ref == 'refs/heads/main' && github.repository == 'HaoZeke/chemparseplot')}}
        uses: peaceiris/actions-gh-pages@v3
        with:
            github_token: ${{ secrets.GITHUB_TOKEN }}
            publish_dir: ./doc/build/html
